---
import Card from "./ProjectsCard.astro";
import TitleGradient from "../decoration/TitleGradient.astro";
---

<section id="proyects" class="my-36">
  <div class="mx-auto max-w-screen-xl px-4">
    <TitleGradient title="Some of my proyects" />
    <div class="mx-auto max-w-screen-xl px-4 flex items-center justify-center">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <Card
          title="Hamabeads Shop"
          body=""
          href="https://www.hamabeadsshop.com/"
          image="/assets/thumbnails/HamaBeadsShop.webp"
        />
        <Card
          title="ProjectQr"
          body=""
          href="https://proyectqr-riuhwp6on-diegomarty.vercel.app/"
          image="/assets/thumbnails/ProyectQr.webp"
        />
        <Card
          title="Pokedle"
          body=""
          href="https://pokedle.diegomarty.com/"
          image="/assets/thumbnails/pokedle-preview.webp"
        />
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <a
        href="/cv"
        class="inline-flex bg-amber-400 rounded-lg py-2 px-3 hover:bg-white hover:text-amber-400 text-gray-800 font-bold"
      >
        + Info in my CV
      </a>
    </div>
  </div>
</section>
