---
export interface Props {
  type: "mail" | "download" | "link";
  href: string;
}

const { type, href } = Astro.props;
---

{
  type === "mail" && (
    <a
      href={href}
      class="inline-flex bg-amber-400 rounded-lg hover:bg-white hover:text-amber-400 text-gray-800 px-3 py-2 items-center mx-1"
      target="_blank"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="#000000"
          d="M4 20q-.825 0-1.413-.588T2 18V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.588 1.413T20 20H4Zm8-7L4 8v10h16V8l-8 5Zm0-2l8-5H4l8 5ZM4 8V6v12V8Z"
        />
      </svg>
    </a>
  )
}

{
  type === "download" && (
    <a
      href={href}
      class="inline-flex bg-amber-400 rounded-lg hover:bg-white hover:text-amber-400 text-gray-800 px-3 py-2 items-center mx-1"
      target="_blank"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="#000000"
          d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11l-5 5Zm-6 4q-.825 0-1.413-.588T4 18v-3h2v3h12v-3h2v3q0 .825-.588 1.413T18 20H6Z"
        />
      </svg>
    </a>
  )
}

{
  type === "link" && (
    <a
      href={href}
      class="inline-flex bg-amber-400 rounded-lg hover:bg-white hover:text-amber-400 text-gray-800 p-1 items-center mx-1 float-right"
      target="_blank"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="none"
          stroke="#000000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 4h10v14a2 2 0 0 1-2 2H9m3-5l3-3m0 0l-3-3m3 3H5"
        />
      </svg>
    </a>
  )
}
