---
import ActionButton from "./ActionButton.astro";
export interface Props {
  title: string;
  body: string;
  href: string;
  isPublic?: boolean;
  isOpenSource?: boolean;
  isDevelopment?: boolean;
}

const {
  href,
  title,
  body,
  isPublic = false,
  isOpenSource = false,
  isDevelopment = false,
} = Astro.props;
---

<div class="text-md mb-4">
  <div class="text-xl font-bold mb-2">
    {title}
    <ActionButton href={href} type="link" />
  </div>
  <div class="mb-4">
    <p class="text-xl mb-2">
      {body}
    </p>
    <p>
      {
        isPublic ? (
          <span class="text-green-500"> Publicada </span>
        ) : (
          <span class="text-red-500"> Privada </span>
        )
      }
      -
      {isOpenSource ? <span class="text-blue-500"> OpenSource</span> : ""}
      {isDevelopment ? <span class="text-orange-500"> En desarrollo</span> : ""}
    </p>
  </div>
</div>
