---
export interface Props {
  title: string;
  location: string;
}

const { title, location } = Astro.props;
---

<div class="text-md mb-6">
  <span class="text-xl font-bold mb-2">{title}</span>
  <div class="mb-2">
    <span class="text-md mb-4">
      {location}
    </span>
  </div>
  <slot name="description" />
</div>
