---
import TitleGradient from "../decoration/TitleGradient.astro";
import Me from "/Yo.webp";
import RRSS from "./RRSS.astro";
---

<section id="about" class="my-36">
  <div class="mx-auto max-w-screen-xl px-4">
    <TitleGradient title="About me" />
    <div class="mx-auto max-w-screen-xl px-4 flex items-center justify-center">
      <div class="grid grid-cols-2 gap-8 sm:gap-16 m-10">
        <div>
          <img
            src={Me}
            alt="meAvatar"
            class="rounded-full w-80 blob z-1"
            width="320px"
            height="320px"
          />
        </div>
        <div>
          <img
            src="https://github.com/diegomarty.png"
            alt="githubAvatar"
            class="rounded-full w-80 blob-2"
            width="320px"
            height="320px"
          />
        </div>
        <div class="col-span-2">
          <p class="mx-auto max-w-xl text-2xl sm:leading-relaxed text-center">
            I'm a geek software developer, I love to learn new things and I'm
            passionate about technology 🌝
          </p>
          <RRSS />
          <div class="mx-auto max-w-xl text-2xl sm:leading-relaxed text-center">
            <script
              is:inline
              type="text/javascript"
              src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
              data-name="bmc-button"
              data-slug="diegomarty"
              data-color="#FFDD00"
              data-emoji=""
              data-font="Poppins"
              data-text="Buy me a coffee"
              data-outline-color="#000000"
              data-font-color="#000000"
              data-coffee-color="#ffffff"
            ></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .blob {
    animation: blobber 45s 0s linear infinite backwards,
      cobler 50s 0s linear infinite alternate,
      wobbler 20s 0s linear infinite alternate-reverse;
  }

  .blob-2 {
    animation: blobber 60s 0s linear infinite, cobler 30s 0s linear infinite,
      wobbler 20s 0s linear infinite alternate;
  }

  @keyframes blobber {
    0% {
      border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
    5% {
      border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
    }
    10% {
      border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
    }
    15% {
      border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
    }
    20% {
      border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
    }
    25% {
      border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
    }
    30% {
      border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
    }
    35% {
      border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
    }
    40% {
      border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
    }
    45% {
      border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
    }
    50% {
      border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
    }
    55% {
      border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
    }
    60% {
      border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
    }
    65% {
      border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
    }
    70% {
      border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
    }
    75% {
      border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
    }
    80% {
      border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
    }
    85% {
      border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
    }
    90% {
      border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
    }
    95% {
      border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
    }
    100% {
      border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
  }

  @keyframes cobler {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  @keyframes wobbler {
    0% {
      transform: rotateZ(4deg);
    }
    100% {
      transform: rotateZ(-4deg);
    }
  }
</style>
