---
import Icon from "./Icon.astro";
---

<ul class="my-12 flex justify-center gap-6 md:gap-8">
  <li class="hover:scale-110 hover:rotate-3">
    <a
      href="https://github.com/diegomarty"
      rel="noreferrer"
      target="_blank"
      class="text-white hover:text-white/75 transition"
    >
      <span class="sr-only">GitHub</span>
      <Icon icon="Github-white" />
    </a>
  </li>

  <li class="hover:scale-110 hover:rotate-3">
    <a
      href="https://www.linkedin.com/in/diego-martin-sanchez-8902691a0/"
      rel="noreferrer"
      target="_blank"
      class="text-white hover:text-white/75 transition"
    >
      <span class="sr-only">LinkedIn</span>
      <Icon icon="LinkedIn" />
    </a>
  </li>

  <li class="hover:scale-110 hover:rotate-3">
    <a
      href="https://www.buymeacoffee.com/diegomarty"
      rel="noreferrer"
      target="_blank"
      class="text-white hover:text-white/75 transition"
    >
      <span class="sr-only">Buy me a coffe</span>
      <Icon icon="Bmc" />
    </a>
  </li>
</ul>
