---
import GithubWhite from "/svgs/GithubWhite.svg";
import LinkedIn from "/svgs/LinkedIn.svg";
import Bmc from "/svgs/Bmc.svg";
---

<ul class="my-12 flex justify-center gap-6 md:gap-8">
  <li class="hover:scale-110 hover:rotate-3">
    <a
      href="https://www.linkedin.com/in/diego-martin-sanchez-8902691a0/"
      rel="noreferrer"
      target="_blank"
      class="text-white hover:text-white/75 transition"
    >
      <span class="sr-only">LinkedIn</span>
      <img src={LinkedIn} width="45px" height="45px" alt="linkedIn Logo" />
    </a>
  </li>

  <li class="hover:scale-110 hover:rotate-3">
    <a
      href="https://github.com/diegomarty"
      rel="noreferrer"
      target="_blank"
      class="text-white hover:text-white/75 transition"
    >
      <span class="sr-only">GitHub</span>
      <img src={GithubWhite} width="45px" height="45px" alt="Github Logo" />
    </a>
  </li>

  <li class="hover:scale-110 hover:rotate-3">
    <a
      href="https://www.buymeacoffee.com/diegomarty"
      rel="noreferrer"
      target="_blank"
      class="text-white hover:text-white/75 transition"
    >
      <span class="sr-only">Buy me a coffe</span>
      <img src={Bmc} width="31px" height="45px" alt="Bmc Logo" />
    </a>
  </li>
</ul>
