---
import Layout from "../layouts/Layout.astro";
import FirstView from "../components/FirstView.astro";
import AboutMe from "../components/about/AboutMe.astro";
import Proyects from "../components/proyects/Proyects.astro";
import StacksComponent from "../components/stacks/StacksComponent.astro";
import ParticleStacksBackgroud from "../components/particles/ParticleStacksBackgroud.astro";
---

<Layout>
  <div class="relative z-[1]">
    <FirstView />
    <AboutMe />
    <StacksComponent />
    <Proyects />
  </div>
  <ParticleStacksBackgroud />
</Layout>
