---
import Card from "../components/Card.astro";
---

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="grid grid-cols-2 gap-4 m-10">
      <Card
        title="My proyect 1"
        body="This is my portfolio, made with Astro and TailwindCSS"
        href="#"
      />
      <Card
        title="My proyect 2"
        body="This is my portfolio, made with Astro and TailwindCSS"
        href="#"
      />
    </div>
  </div>
</section>
