---
import Card from "../components/Card.astro";
---

<div class="grid grid-cols-2 gap-4 mx-10">

    <Card
    title="My proyect 1"
    body="This is my portfolio, made with Astro and TailwindCSS"
    href="#"
    />
    <Card
    title="My proyect 2"
    body="This is my portfolio, made with Astro and TailwindCSS"
    href="#"
    />
</div>
