---
import TitleGradient from "./TitleGradient.astro";
import StacksGroup from "../components/StacksGroup.jsx";
---

<section id="stacks">
    
    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
        <TitleGradient title="Some of my technologies" />
        <StacksGroup />
    </div>
</section>
