---
import TitleGradient from "../decoration/TitleGradient.astro";
import StacksGroup from "./StacksGroup.jsx";
---

<section id="stacks" class="my-36">
    <TitleGradient title="Some of my technologies" />
    <div
    class="mx-auto max-w-screen-xl px-4 flex my-20 items-center justify-center"
    >
    <StacksGroup />
  </div>
</section>
