---
import fs from "fs";
import matter from "gray-matter";
import path from "path";
import readingTime from "reading-time";
export interface Props {
  slug: string;
}
const { slug } = Astro.props as Props;
const getPost = () => {
  // read the file only once and store the result in a variable
  const filePath = path.join("src", "posts", `${slug}.mdx`);
  const fileContents = fs.readFileSync(filePath, "utf8");
  const { data, content } = matter(fileContents);
  return {
    ...data,
    content,
    slug,
  };
};
const readTime = () => {
  const stats = readingTime(getPost().content);
  // round minutes and return as string
  return `${Math.round(stats.minutes)} min read`;
};
---

<span>
  {readTime()}
</span>
