---
import DM_white from "/DM_White.svg";
import RRSS from "../components/about/RRSS.astro";
---

<footer aria-label="Site Footer" class="bg-gray-900">
  <div class="mx-auto max-w-xs px-4 py-16 sm:px-6 lg:px-8">
    <div class="flex justify-center">
      <img src={DM_white} alt="DM logo footer" width="272px" height="40px" />
    </div>
    <RRSS />
  </div>
</footer>
