---
import RRSS from "../components/about/RRSS.astro";
---

<footer aria-label="Site Footer">
  <div class="mx-auto max-w-xs px-4 py-16 sm:px-6 lg:px-8 relative z-[9]">
    <RRSS />
    <div class="justify-center">
      <img
        src="/assets/DM_White.svg"
        alt="DM logo footer"
        width="272px"
        height="40px"
        class="mb-10"
      />
    </div>
  </div>
</footer>
