---
import DM_white from "../../public/DM_White.svg";
---

<header aria-label="Site Header" class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600 dark:text-teal-600" href="/">
          <span class="sr-only">Home</span>

          <img src={DM_white} alt="DM logo" class="h-6" width="163px" height="24px" />
        </a>
      </div>

      <div class="hidden md:block">
        <nav aria-label="Site Nav">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#about"
              >
                About
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#stacks"
              >
                Stacks
              </a>
            </li>
            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#proyects"
              >
                Proyects
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
