---
import { navItems } from "../data/nav";

const pathname = new URL(Astro.request.url).pathname;
---

<header aria-label="Site Header">
  <div
    class="mx-auto w-full md:fixed relative top-0 px-4 sm:px-6 lg:px-8 py-6 bg-gray-900 z-50 opacity-80"
  >
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-white" href="/">
          <span class="sr-only">Home</span>

          <img
            src="/assets/DM_White.svg"
            alt="DM logo"
            class="h-6"
            width="163px"
            height="24px"
          />
        </a>
      </div>

      <div class="hidden md:block justify-end" id="desktop-menu">
        <nav aria-label="Site Nav">
          <ul class="flex items-center gap-6 text-sm">
            {
              navItems.map(
                ({ href, label }: { href: string; label: string }) => (
                  <a
                    href={href}
                    class={pathname === href ? "active" : ""}
                    class="desktop transition text-white hover:text-amber-400/75 p-2"
                  >
                    <li>{label}</li>
                  </a>
                )
              )
            }

            <a class="desktop transition blog" href="/blog">
              <li
                class="bg-amber-400 hover:bg-white rounded-lg py-2 px-3 text-gray-800 hover:text-amber-400"
              >
                Blog
              </li>
            </a>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div
    class="md:hidden hidden fixed bottom-5 items-center w-full justify-center fade-in-out z-10 glassmorphism"
    id="movile-menu"
  >
    <nav
      aria-label="Site Nav movile"
      class="glassmorphism md:bg-transparent md:dark:bg-transparent md:backdrop-blur-none fixed md:static bottom-4 z-30 left-1/2 md:left-auto transform -translate-x-1/2 md:transform-none bg-bglight dark:bg-carddark dark:text-textlight w-11/12 rounded drop-shadow-lg md:drop-shadow-none"
    >
      <ul
        class="flex items-center justify-center gap-6 text-sm bg-slate-800 p-4 rounded-lg opacity-90"
      >
        <a
          class="movil transition text-white hover:text-amber-400/75 active"
          href="/#home"
        >
          <li>Home</li>
        </a>

        <a
          class="movil transition text-white hover:text-amber-400/75"
          href="/#about"
        >
          <li>About</li>
        </a>

        <a
          class="movil transition text-white hover:text-amber-400/75"
          href="/#stacks"
        >
          <li>Stacks</li>
        </a>

        <a
          class="movil transition text-white hover:text-amber-400/75"
          href="/#proyects"
        >
          <li>Proyects</li>
        </a>

        <a class="movil transition" href="/blog">
          <li
            class="bg-amber-400 hover:bg-white rounded-lg py-1 px-2 text-gray-800 hover:text-amber-400"
          >
            Blog
          </li>
        </a>
      </ul>
    </nav>
  </div>
</header>
<div class="md:h-28"></div>

<style>
  .fade-in-out {
    animation: fadeIn ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .glassmorphism {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  nav a.active {
    color: #fca311;
    font-weight: 600;
  }
  nav a.active::before {
    content: "";
    background-image: url("/assets/svgs/PokeballActive.svg");
    position: fixed;
    width: 35px;
    height: 35px;
    margin-top: -5px;
    margin-left: -16px;
    rotate: -35deg;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
  }
</style>

<script>
  function mostrarMovileMenuEnScroll() {
    const navDiv = document.getElementById("movile-menu");
    window.addEventListener("scroll", function () {
      const scrollPosition = window.scrollY;

      if (navDiv !== null) {
        if (scrollPosition >= 400) {
          navDiv.classList.remove("hidden");
          navDiv.classList.add("flex");
        } else {
          navDiv.classList.remove("block");
          navDiv.classList.add("hidden");
        }
      }

      const sections = document.querySelectorAll("section");
      const menuLinks = document.querySelectorAll(
        "#movile-menu > nav > ul > a.movil"
      );
      const currentY = window.pageYOffset;

      sections.forEach((section, index) => {
        const sectionTop = section.getBoundingClientRect().top + currentY;
        const sectionBottom = sectionTop + section.offsetHeight;

        if (currentY >= sectionTop && currentY < sectionBottom) {
          menuLinks.forEach((menuLink) => {
            menuLink.classList.remove("active");
          });
          menuLinks[index].classList.add("active");
        }
      });
    });
  }

  function actualizarActiveDesktopMenu() {
    window.addEventListener("scroll", function () {
      const sections = document.querySelectorAll("section");

      const menuLinks = document.querySelectorAll(
        "#desktop-menu > nav > ul > a"
      );

      const currentY = window.pageYOffset;
      sections.forEach((section, index) => {
        let sectionTop = section.getBoundingClientRect().top + currentY;
        sectionTop = sectionTop != 0 ? sectionTop - 200 : sectionTop;
        let sectionBottom = sectionTop + section.offsetHeight;
        sectionBottom = sectionBottom - 200;

        if (currentY >= sectionTop && currentY < sectionBottom) {
          menuLinks.forEach((menuLink) => {
            menuLink.classList.remove("active");
          });
          menuLinks[index].classList.add("active");
        }
      });
    });
  }

  window.onload = function () {
    let windowSize = window.innerWidth;
    window.addEventListener("resize", function () {
      windowSize = window.innerWidth;
    });

    if (windowSize <= 768) {
      mostrarMovileMenuEnScroll();
    } else {
      actualizarActiveDesktopMenu();
    }
  };
</script>
