---
import AnimatedFooter from "../components/AnimatedFooter.jsx";
import Header from "../components/Header.jsx";
import FirstView from "../components/FirstView.astro";
import TitleGradient from "../components/TitleGradient.astro";
import Proyects from "../components/Proyects.astro";
import StacksComponent from "../components/StacksComponent.astro";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-900 text-white justify-center">
    <Header />
    <FirstView />
    <TitleGradient title="My proyects" />
    <Proyects />
    <StacksComponent />
    <footer>
      <AnimatedFooter />
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --background-gradient: linear-gradient(
      45deg,
      #000814 0%,
      #001d3d 25%,
      #003566 50%,
      #ffc300 75%,
      #ffd60a 100%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--background-gradient);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }
</style>
