---
import ParticleStacksBackgroud from "../components/Particles/ParticleStacksBackgroud.astro";
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="DiegoMarty" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="Astro.js, framework, página web estática, desarrollador web, DiegoMarty"
    />
    <meta name="robots" content="index, follow" />
    <SEO
      title="DiegoMarty website"
      description="Descubre la belleza y la simplicidad de la web con la página creada por DiegoMarty usando el framework #Astro.js. Disfruta de una experiencia de usuario rápida y segura en un sitio web moderno y atractivo."
      openGraph={{
        basic: {
          title: "Hi! Im DiegoMarty",
          type: "website",
          image: "/thumbnail.jpg",
          url: "https://diegomarty.com/",
        },
        optional: {
          description: "Descubre la belleza y la simplicidad de la web con la página creada por DiegoMarty usando el framework #Astro.js. Disfruta de una experiencia de usuario rápida y segura en un sitio web moderno y atractivo.",
          siteName: "DiegoMarty - Mi sitio web",
        },
        image:{
          alt: "DiegoMarty - Mi sitio web",
        }        
      }}
      twitter={{
        creator: "@Diego_Marty96"
      }}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "/thumbnail.jpg",
          },
          { name: "twitter:title", content: "Hi! Im DiegoMarty" },
          { name: "twitter:description", content: "Descubre la belleza y la simplicidad de la web con la página creada por DiegoMarty usando el framework #Astro.js. Disfruta de una experiencia de usuario rápida y segura en un sitio web moderno y atractivo." },
        ],
      }}
    />
  </head>
  <body class="bg-gray-900 text-white w-full">
    <slot />
    <ParticleStacksBackgroud />
  </body>
</html>
<style is:global>
  :root {
    --background-gradient: linear-gradient(
      45deg,
      #000814 0%,
      #001d3d 25%,
      #003566 50%,
      #ffc300 75%,
      #ffd60a 100%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--background-gradient);
    scroll-behavior: smooth;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }
</style>
